@model Entities.BookDatabaseItem

@{
    var imgPath = "/Resources/bk_imgs/" + Model.ISBN + ".jpg";
    ViewBag.Title = "Index";

    var rent = Model.Stock.Where(x => x.Type == Entities.StockType.Rental);
    //var rent = Model.Stock.Where(x => x.Type == Entities.StockType.Rental);


}


<div class="row">
    <h4>Book Details</h4>
    <hr />

    <div class="row">
        <div class="col-md- col-lg-4">
            <img src="@imgPath" alt="image" class="img-responsive" />
        </div>

        <div class="col-md-5 col-lg-5">
            <div class="row">
                <h3>@Model.Title</h3>
                <p>By @Model.Author</p>
                <p>ISBN @Model.ISBN</p>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Description</div>
                    <div class="panel-body">
                        @Model.Description
                    </div>
                </div>

            </div>
        </div>


        <div class="col-md-3 col-lg-3">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                

                    

                    @foreach (var stock in Model.Stock)
                    {
                        if (stock.Quantity != 0)
                        {
                            using (Html.BeginForm("AddToCart", "ShoppingCart", FormMethod.Post))
                            {
                                <input class="hidden" name="isbn" value="@Model.ISBN" />
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading_@stock.Type.ToString()">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse_@stock.Type" aria-expanded="false" aria-controls="collapse_@stock.Type">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="stockType" id="input" value="@stock.Type">
                                                        @stock.Type.ToString() - $@stock.Price.ToString()
                                                    </label>
                                                </div>

                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_@stock.Type" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@stock.Type.ToString()">
                                        <div class="panel-body">

                                            <div class="form-group">

                                                <input class="form-control" type="number" id="qtyInput" name="qty"  min="1" max="@stock.Quantity" />
                                            </div>

                                            <button type="submit" class="btn btn-warning"><span class="fa fa-plus-circle"></span>  Add to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading_@stock.Type.ToString()">
                                        <h4 class="panel-title">
                                            
                                                        @stock.Type.ToString() - Out of Stock
                                           
                                        </h4>
                                    </div>
                                </div>
                            
                            
                        }
                    }
                






           
            </div>

        

        </div>





    </div>


  
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
