@model Entities.Order
@{
    ViewBag.Title = "View";
}

<h2>Shipping Information</h2>
@{

    //Shipping Info
    string sFirstName = (string)Session["sFirstName"];
    string sLastName = (string)Session["sLastName"];
    string sStreetAddress = (string)Session["sStreetAddress"];
    string sZip = (string)Session["sZip"];
    string sCity = (string)Session["sCity"];
    string sState = (string)Session["sState"];

    //Billing Info
    string bFirstName = (string)Session["bFirstName"];
    string bLastName = (string)Session["bLastName"];
    string bStreetAddress = (string)Session["bStreetAddress"];
    string bZip = (string)Session["bZip"];
    string bCity = (string)Session["bCity"];
    string bState = (string)Session["bState"];


    //Credit Card Info
    string ccNumber = (string)Session["ccNumber"];
    string expDateMonth = (string)Session["expDateMonth"];
    string expDateYear = (string)Session["expDateYear"];
    string email = (string)Session["email"];
    //bool isInfoSame = (bool)Session["isInfoSame"];


}

<form method="post">
    @Html.TextBox("sFirstName", "First Name")  @Html.TextBox("sLastName", "Last Name")<br /><br />
    @Html.TextBox("sStreetAddress", "Street Address")<br /><br />
    @Html.TextBox("sZip", "Zip Code")<br /><br />
    @Html.TextBox("sCity", "City")<br /><br />
    @Html.TextBox("sState", "State")<br /><br />
    <p>Is your Shipping Information the Same as Billing Information? @Html.CheckBox("isInfoSame", "yes") </p>
    <input type="submit" />
</form>

<p> checkBoxValue = @Request["isInfoSame"]</p>


<br />
<h2>Billing Information</h2>

@Html.TextBox("bFirstName", "First Name")  @Html.TextBox("bLastName", "Last Name")<br /><br />
@Html.TextBox("bStreetAddress", "Street Address")<br /><br />
@Html.TextBox("bZip", "Zip Code")<br /><br />
@Html.TextBox("bCity", "City")<br /><br />
@Html.TextBox("bState", "State")<br /><br />

@Html.TextBox("ccNumber", "CC#")<br /><br />
<h3>Expiration Date</h3>
@Html.TextBox("expMonth", "MM")/@Html.TextBox("expYear", "YY")<br /><br />
@Html.TextBox("email", "Email")

