@model Entities.Order

@{
    ViewBag.Title = "Receipt";
}

<h2>Receipt</h2>
<div class="row">
    <div class="col-md-4 col-lg-4">
        <h3>Shipping Info</h3>
        Name:  @Html.DisplayFor(model => model.ShippingInfo.FirstName) @Html.DisplayFor(model => model.ShippingInfo.LastName)
        <br />
        Street Address: @Html.DisplayFor(model => model.ShippingInfo.StreetAddr)
        <br />
        @Html.DisplayFor(model => model.ShippingInfo.City)
        @Html.DisplayFor(model => model.ShippingInfo.State)
        @Html.DisplayFor(model => model.ShippingInfo.ZipCode)
    </div>
    <div class="col-md-4 col-lg-4">
        <h3>Payment Info</h3>
        Name:  @Html.DisplayFor(model => model.PaymentInfo.FirstName) @Html.DisplayFor(model => model.PaymentInfo.LastName)
        <br />
        Street Address: @Html.DisplayFor(model => model.PaymentInfo.StreetAddr)
        <br />
        @Html.DisplayFor(model => model.PaymentInfo.City)
        @Html.DisplayFor(model => model.PaymentInfo.State)
        @Html.DisplayFor(model => model.PaymentInfo.ZipCode)
    </div>
    <div class="col-md-4 col-lg-4">
        <h3>Cost</h3>
        Subtotal: @Html.DisplayFor(model => model.SubTotalCost) 
        <br />
        Tax: @Html.DisplayFor(model => model.Tax) 
        <br /> 
        Total Cost: @Html.DisplayFor(model => model.TotalCost)
    </div>
</div>


