@model Entities.Order

@{
    ViewBag.Title = "Receipt";
}

<h2>Receipt</h2>

<div>
    <h4>Order</h4>
    <div class="row">@Html.LabelFor(model => model.ShippingInfo.FirstName) @Html.DisplayFor(model => model.ShippingInfo.FirstName)</div>

    @Html.LabelFor(model => model.ShippingInfo.LastName)
    @Html.DisplayFor(model => model.ShippingInfo.LastName)

    @Html.LabelFor(model => model.ShippingInfo.StreetAddr)
    @Html.DisplayFor(model => model.ShippingInfo.StreetAddr)

    @Html.LabelFor(model => model.ShippingInfo.City)
    @Html.DisplayFor(model => model.ShippingInfo.City)

    @Html.LabelFor(model => model.ShippingInfo.State)
    @Html.DisplayFor(model => model.ShippingInfo.State)

    @Html.LabelFor(model => model.ShippingInfo.ZipCode)
    @Html.DisplayFor(model => model.ShippingInfo.ZipCode)



    @Html.LabelFor(model => model.PaymentInfo.FirstName)
    @Html.DisplayFor(model => model.PaymentInfo.FirstName)

    @Html.LabelFor(model => model.PaymentInfo.LastName)
    @Html.DisplayFor(model => model.PaymentInfo.LastName)

    @Html.LabelFor(model => model.PaymentInfo.StreetAddr)
    @Html.DisplayFor(model => model.PaymentInfo.StreetAddr)

    @Html.LabelFor(model => model.PaymentInfo.City)
    @Html.DisplayFor(model => model.PaymentInfo.City)

    @Html.LabelFor(model => model.PaymentInfo.State)
    @Html.DisplayFor(model => model.PaymentInfo.State)

    @Html.LabelFor(model => model.PaymentInfo.ZipCode)
    @Html.DisplayFor(model => model.PaymentInfo.ZipCode)


</div>
