@using System.Web.UI.WebControls
@using BookstoreDataSource
@using Entities
@model Entities.Order

@{
    ViewBag.Title = "Receipt";
}

<h2 align="center">Receipt</h2>

<div class="row">
    <div class="col-md-4 col-lg-4">
        <h3>Shipping Info</h3>
        Name:  @Html.DisplayFor(model => model.ShippingInfo.FirstName) @Html.DisplayFor(model => model.ShippingInfo.LastName)
        <br />
        Street Address: @Html.DisplayFor(model => model.ShippingInfo.StreetAddr)
        <br />
        @Html.DisplayFor(model => model.ShippingInfo.City)
        @Html.DisplayFor(model => model.ShippingInfo.State)
        @Html.DisplayFor(model => model.ShippingInfo.ZipCode)
    </div>
    <div class="col-md-4 col-lg-4">
        <h3>Payment Info</h3>
        Name:  @Html.DisplayFor(model => model.PaymentInfo.FirstName) @Html.DisplayFor(model => model.PaymentInfo.LastName)
        <br />
        Street Address: @Html.DisplayFor(model => model.PaymentInfo.StreetAddr)
        <br />
        @Html.DisplayFor(model => model.PaymentInfo.City)
        @Html.DisplayFor(model => model.PaymentInfo.State)
        @Html.DisplayFor(model => model.PaymentInfo.ZipCode)
    </div>
    <div class="col-md-4 col-lg-4">
        <h3>Cost</h3>
        Subtotal: $@Html.DisplayFor(model => model.SubTotalCost)
        <br />
        Tax: $@Html.DisplayFor(model => model.Tax)
        <br />
        Total Cost: $@Html.DisplayFor(model => model.TotalCost)
    </div>
</div>

<br />
<hr />
<h2 align="center">Products</h2>

@foreach (var book in Model.BooksInCart)
{
    var titleList = ViewBag.titles as Dictionary<string, string>;
    string link = "www.spsubookstore.com/ebook/download/" + @book.ISBN + ".pdf";
    string image = "/Resources/bk_imgs/" + book.ISBN + ".jpg";

    <div class="row">
        <div class="col-md-2 col-lg-2">
            <a class="thumbnail"><img src="@image" /></a>
        </div>
        <div class="col-md-10 col-lg-10">
            Title: @titleList[book.ISBN]<br />
            ISBN: @book.ISBN  <br />
            Type: @book.TypeInCart <br />
            @if (book.TypeInCart == StockType.eBook)
            {
                @:Download link: <a href=@link>@link</a> <br />
            }
            Quantity: @book.QuantityInCart<br />
            Price: $@book.Price <br />
        </div>
    </div>
    <br />
    <br />
    <hr />
}

<a href= @ViewBag.rcptLink>Click here to download receipt</a>