@model IEnumerable<Entities.ShoppingCartBook>

@{
    ViewBag.Title = "Index";
    var shoppingCartBooks = (List<Entities.ShoppingCartBook>)ViewData["ShoppingCartBooks"];
    var subtotal = ViewData["CartSubtotal"];
}



<p>
    @Html.ActionLink("TO Precart TEST", "PreCart")
</p>



@if (shoppingCartBooks.Any())
{

    <h2>Shopping Cart</h2>

    <div class="row">
        <div class="col-lg-10 col-md-10">
            <div class="row vertical-divider">
                <div class="col-lg-6 col-md-6">

                </div>
                <div class="col-lg-2 col-md-2" align="center">
                    Price
                </div>
                <div class="col-lg-2 col-md-2" align="center">
                    @Html.DisplayNameFor(model => model.QuantityInCart)
                </div>
            </div>

            @foreach (var book in shoppingCartBooks)
            {
                var bookDetails = ViewBag.BookDetails;
                //{ Html.RenderAction("BookDetails", new { isbn = book.ISBN }); }

                <hr />
                <div class="row">

                    <div class="col-lg-2 col-md-2">
                        @{var imgPath = "/Resources/bk_imgs/" + book.ISBN + ".jpg";
                        }
                        <a href="@Url.Action("Index", "Book", new { id = book.ISBN }, null)" class="thumbnail">
                            <img src="@imgPath" />
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <table>
                            <tr>
                                <td align="left">
                                    <a href="@Url.Action("Index", "Book", new { id = book.ISBN }, null)">
                                        @{ Html.RenderAction("GetTitle", new { isbn = book.ISBN }); } </a> by @{ Html.RenderAction("GetAuthor", new { isbn = book.ISBN }); }
                                        
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Format: @Html.DisplayFor(modelItem => book.TypeInCart)
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    @Html.ActionLink("Remove from cart", "RemoveFromCart", new { id = shoppingCartBooks.IndexOf(book) })
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-2 col-md-2" align="center">
                        $@Html.DisplayFor(modelItem => book.Price) each
                    </div>
                    <div class="col-lg-2 col-md-2" align="center">
                        @Html.DisplayFor(model => book.QuantityInCart)
                    </div>

                </div>
                <br />
            }
        </div>
        <div class="col-lg-2 col-md-2 table-bordered img-thumbnail" align="center">
            <br />
            <div class="row">
                Cart Subtotal: $@ViewBag.CartSubtotal
            </div>
            <br />
            <div class="row">
                <button type="submit" class="btn btn-default" onclick="location.href='@Url.Action("BillingAndPaymentInfo", "Order")'">Proceed to Checkout</button>
            </div>
            <br />
        </div>
    </div>
}
else
{
    <center>
        <h2>
            Your cart is empty!
        </h2>
        <br />
        <h4>@Html.ActionLink("Click here to continue shopping!", "Index", "Home")</h4>
    </center>
}



