@model IEnumerable<Entities.ShoppingCartBook>

@{
    ViewBag.Title = "Index";
}


<h2>Shopping Cart</h2>

<p>
    @Html.ActionLink("Create New", "PreCart")
</p>



@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityInCart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>

    </table>

    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN) + " by " + @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeInCart)
            </td>
            <td>
                @Html.ActionLink("Remove from cart", "Remove from cart", new { /* id=item.PrimaryKey */ }) |
            </td>
        </tr>
    }
}
else
{
    <h4>
        Your cart is empty!
    </h4>
}



