@model IEnumerable<Entities.ShoppingCartBook>

@{
    ViewBag.Title = "Index";
    var shoppingCartBooks = ViewData["ShoppingCart"] as List<Entities.ShoppingCartBook>;
}


<h2>Shopping Cart</h2>

<p>
    @Html.ActionLink("Create New", "PreCart")
</p>



@if (shoppingCartBooks != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityInCart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>

    </table>

    foreach (var book in shoppingCartBooks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => book.ISBN)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => book.ISBN) + " by " + @Html.DisplayFor(modelItem => book.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.TypeInCart)
            </td>
            <td>
                <a href="#" class="RemoveBook" data-id="@book.ISBN">Remove from cart</a>
            </td>
        </tr>
    }
}
else
{
    <h4>
        Your cart is empty!
    </h4>
}



