@{
    ViewBag.Title = "PreCart";
    var shoppingCartBooks = (List<Entities.ShoppingCartBook>)ViewData["ShoppingCartBooks"];
}

@if (!shoppingCartBooks.Any())
{
    Response.Redirect("~/");
}

<h2>@Html.DisplayFor(modelItem => shoppingCartBooks.Last().QuantityInCart) items have been added to your cart!</h2>

<div class="container-fluid">
    <div class="span9" style="float: none; margin-left: auto; margin-right: auto">
        <div class="row" align="center">

            <div class="col-lg-5 col-md-5 table-bordered">
                <br />
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        @{var imgPath = "/Resources/bk_imgs/" + shoppingCartBooks.Last().ISBN + ".jpg";
                        }
                        <a href="@Url.Action("Index", "Book", new { id = shoppingCartBooks.Last().ISBN }, null)" class="thumbnail">
                            <img src="@imgPath" />
                        </a>
                    </div>
                    <div class="col-lg-7 col-md-7" align="left">
                        <div class="row" border="1">
                            @{ Html.RenderAction("GetTitle", new { isbn = shoppingCartBooks[shoppingCartBooks.Count - 1].ISBN }); }
                        </div>
                        <div class="row">
                            by @{ Html.RenderAction("GetAuthor", new { isbn = shoppingCartBooks[shoppingCartBooks.Count - 1].ISBN }); }
                        </div>
                        <div class="row">
                            $@Html.DisplayFor(modelItem => shoppingCartBooks[shoppingCartBooks.Count - 1].Price) each
                        </div>
                        <div class="row">
                            Quantity added: @Html.DisplayFor(modelItem => shoppingCartBooks[shoppingCartBooks.Count - 1].QuantityInCart)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 table-bordered" align="center">
                <br />
                <div class="row">
                    Order Subtotal: $@ViewBag.CartSubtotal
                </div>
                <div class="row">
                    @ViewBag.ItemsInCart items in cart
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-6 col-md-6" align="right">
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">Edit Cart</button>
                    </div>
                    <div class="col-lg-6 col-md-6" align="left">
                        <button type="submit" class="btn btn-default" onclick="location.href='@Url.Action("BillingAndPaymentInfo", "Order")'">To checkout</button>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
