@{
    ViewBag.Title = "PreCart";
    var shoppingCartBooks = (List<Entities.ShoppingCartBook>)ViewData["ShoppingCartBooks"];
}

<h2>Thank you for your purchase!</h2>

<center>
    <table class="table" border="1">
        <tr align="center">
            <td>
                <table border="1">
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => shoppingCartBooks[shoppingCartBooks.Count - 1].ISBN) .jpg
                        </td>
                        <td>
                            <table border="1">
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => shoppingCartBooks[shoppingCartBooks.Count - 1].ISBN)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        "author"
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => shoppingCartBooks[shoppingCartBooks.Count - 1].Price)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => shoppingCartBooks[shoppingCartBooks.Count - 1].QuantityInCart)
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table border="1">
                    <tr align="center">
                        <td>
                            subtotal: $@ViewBag.CartSubtotal
                        </td>
                    </tr>
                    <tr align="center">
                        <td>
                            @ViewBag.ItemsInCart items in cart
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="1">
                                <tr>
                                    <td>
                                        <button type="button" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">Edit Cart</button>
                                    </td>
                                    <td>
                                        <button type="submit" onclick="location.href='@Url.Action("BillingAndPaymentInfo", "Order")'">To checkout</button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</center>
