@{
    ViewBag.Title = "PreCart";
    var shoppingCartBooks = (List<Entities.ShoppingCartBook>)ViewData["ShoppingCartBooks"];
}

@if (!shoppingCartBooks.Any())
{
    Response.Redirect("~/");
}

<h2>@Html.DisplayFor(modelItem => shoppingCartBooks.Last().QuantityInCart) items have been added to your cart!</h2>

<center>
    <table class="table" border="1">
        <tr align="center">
            <td>
                <table border="1">
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => shoppingCartBooks[shoppingCartBooks.Count - 1].ISBN) .jpg
                        </td>
                        <td>
                            <table border="1">
                                <tr>
                                    <td>
                                        @{ Html.RenderAction("GetTitle", new { isbn = shoppingCartBooks[shoppingCartBooks.Count - 1].ISBN }); } 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        by @{ Html.RenderAction("GetAuthor", new { isbn = shoppingCartBooks[shoppingCartBooks.Count - 1].ISBN }); } 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        $@Html.DisplayFor(modelItem => shoppingCartBooks[shoppingCartBooks.Count - 1].Price) each
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Quantity added: @Html.DisplayFor(modelItem => shoppingCartBooks[shoppingCartBooks.Count - 1].QuantityInCart)
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table border="1">
                    <tr align="center">
                        <td>
                            subtotal: $@ViewBag.CartSubtotal
                        </td>
                    </tr>
                    <tr align="center">
                        <td>
                            @ViewBag.ItemsInCart items in cart
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="1">
                                <tr>
                                    <td>
                                        <button type="button" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">Edit Cart</button>
                                    </td>
                                    <td>
                                        <button type="submit" onclick="location.href='@Url.Action("BillingAndPaymentInfo", "Order")'">To checkout</button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</center>
